.form__form-group-field-100 {
  width: 100% !important;
}

.form__form-group-field-80 {
  width: 80% !important;
}

.form__form-group-field-60 {
  width: 60% !important;
}

.form__form-group-field-40 {
  width: 40% !important;
}

.form__form-group-field-30 {
  width: 30% !important;
}

.form__form-group-field-20 {
  width: 20% !important;
}

.form__form-group-field-10 {
  width: 10% !important;
}

.round_corner {
  border-radius: 3px;
}

.marginLeft-15 {
  margin-left: -15px;
}

.marginLeft-20 {
  margin-left: -20px;
}

.dropdown-custom {
  background-color: #232329;
  border: 1px solid #33333A;
  color: #999999;
  padding: 0.5em;
}

.selected-process-code {
  background-color: #1D2F56;
  color: #FFFFFF;
}

.not-selected-process-code {
  background-color: #1A2439;
  color: #FFFFFF;

}

.filter-div-excel {
  color: #BEBEBE;
}

.filter-div-excel:hover {
  color: #218A5E;
}

.filter-div {
  color: #BEBEBE;
}

.filter-div:hover {
  color: #0CD0EB;
}
