@import 'settings/variable';
//themes' colors
//base...
@import 'generic/normalize.scss';
@import 'generic/box-sizing.scss';
@import './base/scaffolding';
// styles of base elements
@import './base/typography';
// base styles of h1-h6, p, span
//components...
@import 'component/btn';
@import './component/card';
@import './component/check-box';
@import './component/react-select';
@import './component/sidebar';
@import './component/topbar';
@import './component/load';
@import './component/form';
@import './component/style';
@import './component/radio-btn';
@import './component/date-picker';
@import './component/progress-bar';
@import './component/modal';
//pages...
@import 'containers/account';
@import 'containers/dashboard';
//objects...
@import 'objects/layout.scss';

